<div class="centered-content">
  <div class="modal-box">
    <h1 class="title has-text-white">
      Create New List
    </h1>

    <input #listTitleInput class="input is-medium" type="text" placeholder="Insult Jade" autofocus>

    <br> <br>

    <div class="buttons is-right">
      <button class="red is-medium has-text-white" routerLink="/">Cancel</button> 
      <button class="green is-medium has-text-white" (click)="createNewList(listTitleInput.value)">Create</button> 
    </div>

  </div>
</div>